<!-- directive: wr-screen scr1 -->
<div class="home">
	<ion-content class="v-flex wr-safe-area">
		<!-- directive: wr-component gctu1 -->
		<div class=" wr-comp-ViewComponent list">
			<div class="item-buttons">    
				<button type="button" class="actions button " ng-click="screen.throwEvent($event, 'OnSelectEvent', 'oslte1', { position: $index })">
				{{ 'Decode a Card' | wrLocalize }}
				</button>
				<button type="button" class="actions button " ng-click="screen.throwEvent($event, 'OnSelectEvent', 'oslte3d', { position: $index })">
				{{ 'Single Player' | wrLocalize }}
				</button>
				<button type="button" class="button " ng-click="screen.throwEvent($event, 'OnSelectEvent', 'oslte4d', { position: $index })">
				{{ 'Settings' | wrLocalize }}
				</button>
			</div>
		</div>
		<!-- end_directive: wr-component -->
	</ion-content>
</div>
<!-- end_directive: wr-screen -->
