<!-- directive: wr-screen scr10d -->
<div>
	<ion-content class=" wr-safe-area">
		<!-- directive: wr-component dau7d -->
		<div class=" wr-comp-Details">
			<div ng-if="view.data" class="list card">
				<div class="item item-divider">{{ 'Explanation' | wrLocalize }}</div>
				<div class="item ">
					<h2>{{ view.data.explanation }}</h2>
				</div>
			</div>
		</div>
		<!-- end_directive: wr-component --><!-- directive: wr-component gctu7d -->
		<div class=" wr-comp-ViewComponent list">
			<div class="item item-divider">{{ 'Actions' | wrLocalize }}</div>
			<div class="item-buttons">    
				<button type="button" class="button " ng-click="screen.throwEvent($event, 'OnSelectEvent', 'oslte13d', { position: $index })">
				{{ 'Back' | wrLocalize }}
				</button>
				<button type="button" class="button " ng-click="screen.throwEvent($event, 'OnSelectEvent', 'oslte15d', { position: $index })">
				{{ 'Continue' | wrLocalize }}
				</button>
			</div>
		</div>
		<!-- end_directive: wr-component -->
	</ion-content>
</div>
<!-- end_directive: wr-screen -->
