<!-- directive: wr-screen scr2d -->
<div class="settings">
	<ion-content class="padded wr-safe-area">
		<!-- directive: wr-component enu1d -->
		<form class=" wr-comp-Form list ">
			<label class="item item-input item-select" ng-class="{ 'has-errors' : view.formState.sfld1d.invalid }">
				<span class="input-label" ng-class="{ 'has-errors' : view.formState.sfld1d.invalid }">
				{{ 'language' | wrLocalize }}
				</span>
				<div class="wr-input-wrapper">
					<select ng-model="view.form.sfld1d" wr-form-property ng-options="opt as opt.label for opt in view.options.sfld1d">
					</select>
					<ul class="wr-error-list" ng-if="view.formState.sfld1d.errors.length">
						<li ng-repeat="error in view.formState.sfld1d.errors track by $index">
							{{ error }}
						</li>
					</ul>
				</div>
			</label>
			<div class="item-buttons">    
				<button type="button" class="button quit entire " ng-click="screen.throwEvent($event, 'OnSelectEvent', 'oslte5d', { position: $index })">
				{{ 'Save' | wrLocalize }}
				</button>
			</div>
		</form>
		<!-- end_directive: wr-component -->
	</ion-content>
</div>
<!-- end_directive: wr-screen -->
