<!-- directive: wr-screen scr2 -->
<div class="question">
	<ion-content class="padded wr-safe-area">
		<!-- directive: wr-component dau1 -->
		<div class="details wr-comp-Details">
			<div ng-if="view.data" class="list card">
				<div class="dark-green item ">
					<h2 class="">{{ view.data.content }}</h2>
				</div>
			</div>
		</div>
		<!-- end_directive: wr-component --><!-- directive: wr-component pwu1 -->
		<div class=" wr-comp-List">
			<div ng-if="view.data &amp;&amp; view.data.length" class="list ">
				<div class="item answer " ng-repeat="current in view.data" ng-click="screen.throwEvent($event, 'OnSelectEvent', 'oslte2', { position: $index })">
					<h2>{{ current.content }}</h2>
				</div>
			</div>
		</div>
		<!-- end_directive: wr-component -->
	</ion-content>
</div>
<!-- end_directive: wr-screen -->
